body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #025a45, #4394d2);
    min-height: 100vh;
    margin: 0;
    margin-top: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#000000;
}
.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #434343;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    box-sizing: border-box;
    overflow: hidden;
}
.calendar-icon img {
    cursor: pointer;
    max-width: 40px;
    height: auto;
}
.list-icon img {
    cursor: pointer;
    max-width: 40px;
    height: auto;
}
.site-title {
    font-size: 1.5rem;
    font-weight: bold;
}
h1 {
    margin: 0;
    font-size: 1.7rem;
    text-align: left;
}
form {
    background-color: #d7d7d7;
    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: 20px;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem;
    box-sizing: border-box;
    
}
input[type="text"], input[type="date"] {
    width: 100%;
    height: 2rem;
    box-sizing: border-box;
}

fieldset {
    border: none;
    padding: 0;
    box-sizing: border-box;
}

button {
    background-color: #00386c;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 50px;
    cursor: pointer;
    height: auto;
    width: 100px;
    align-self: center;
    box-sizing: border-box;
    margin-bottom: 0px;

}
button:hover {
    background-color: #00509e;
}

.task-list {
    margin: 2rem auto 0 auto;
    width: 85%;
    list-style: none;
    padding-left: 0;
}
.task-item {
    background-color: #f0f0f0;
    width : 100%;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem auto;
    list-style: none;
    position:relative;
    padding-left: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

}
.task-item.high {
    border-left: 15px solid red;
}
.task-item.medium {
    border-left: 15px solid orange;
}
.task-item.low {
    border-left: 15px solid green;
}
.task-item.overdue { 
    background-color: orange;;
}
.task-item.due-today {
    background-color: yellow;
}   
.task-item.overdue .due-date {
    color: red;
    font-weight: bold;
}
.task-item.completed {
    text-decoration: line-through;
    color: gray;
}
.task-item::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border: 2px solid #00386c;
    border-radius: 50%;
    background-color: white;
}
.task-item.completed::before {
    background-color: #00386c;
}
.delete-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.delete-btn:hover img {
    filter: invert(30%) sepia(100%) saturate(500%) hue-rotate(0deg) brightness(90%);
    
}
.left-group, .right-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}
.right-group {
    align-items: flex-end;
}

.due-date {
    font-size: 0.9rem;
    color: #555;
}

#calendar {
    width: 85%;
    margin: 2rem auto;
    border-radius: 10px;
    overflow: hidden;
}
.fc-daygrid-day-number {
    font-size: 0.5rem;
}

.fc-daygrid-event {
    display: flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.fc-event.holiday {
    background-color: transparent;
    font-size: 0.5rem;
    border: none;
}
.fc-event.localTasks {
    color: #fff;
    background-color: transparent;
    border: none
}


@media (max-width:599px) {
    .fc .fc-button {
        background-color: #00386c;
        color: white;
        border: none;
        padding: 0.25rem 0.5rem;
        border-radius: 50px;
        cursor: pointer;
        width: 55px;
    }
    
    .fc .fc-toolbar {
        padding: 0.5rem;
        border-radius: 10px;
        display: flex !important;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 0.75rem;
    }
    #calendar {
        width: 90%;
        margin: 0 auto;
    }
    .fc-event .task-text {
        display: none;
    }
}


@media (min-width: 600px) {
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "title title"
            "input input"
            "priority due"
            "button button"; 
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    form h1 {
        grid-area: title;
    }
    form input[type="text"] {
        grid-area: input;
    }
    form fieldset {
        grid-area: priority;
    }
    form .due-date-group {
        grid-area: due;
        display: flex;
        flex-direction: column;
    }
    form button {
        grid-area: button;
    }
    .left-group, .right-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }
};

